header{ 
    text-align: center;
}

*{
   font-family:"Arial"
}
nav{
    background-color:rgb(55, 67, 83);
    padding-top:10px;
    padding-bottom: 5px;
    color: #c7d8fd;
    text-align: center;
    width: 100vw;

}

nav > p {
    background-color: rgb(55, 67, 83);
    display:inline-block;
    border: solid white 2px;
    padding: 3mm;
    border-radius: 6px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
}

nav > p.active{
  border-bottom: red;
}

h2{
  text-align: left;
  margin-left:20px;
}

p{
  text-align: left;
  margin-left: 20px;
}

.blu{
  color: rgb(34, 135, 151) 
}

.verde{
  color:rgb(67, 126, 35)
}

.big{
  text-align: center;
}

.green{
  background-color: rgb(67, 126, 35);
    display:inline-block;
    border: solid white 2px;
    padding: 3mm;
    border-radius: 6px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
    padding-left:40px;
    padding-right:40px;
}

.red{
  background-color: rgb(126, 35, 35);
    display:inline-block;
    border: solid white 2px;
    padding: 3mm;
    border-radius: 6px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
    padding-left:40px;
    padding-right:40px;
}

.details{
  background-color: rgb(34, 135, 151);
    display:inline-block;
    border: solid white 2px;
    padding: 3mm;
    border-radius: 6px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition-duration: 150ms ;
    transition-property: color;
    transition-delay: 0ms ;
    transition-timing-function: ease ;
    padding-left:40px;
    padding-right:40px;
}

.readmore{
  background-color: rgb(255, 255, 255);
  display:inline-block;
  border: solid rgb(131, 131, 131) 2px;
  padding: 3mm;
  border-radius: 6px;
  color:rgb(0, 0, 0);
  text-decoration: none;
  transition-duration: 150ms ;
  transition-property: color;
  transition-delay: 0ms ;
  transition-timing-function: ease ;
  padding-left:40px;
  padding-right:40px;
  margin-left: 190px;
}

.readmore1{
  background-color: rgb(255, 255, 255);
  display:inline-block;
  border: solid rgb(131, 131, 131) 2px;
  padding: 3mm;
  border-radius: 6px;
  color:rgb(0, 0, 0);
  text-decoration: none;
  transition-duration: 150ms ;
  transition-property: color;
  transition-delay: 0ms ;
  transition-timing-function: ease ;
  padding-left:40px;
  padding-right:40px;
  margin-right: 800px;
}

.Details{
  background-color: rgb(255, 255, 255);
  display:inline-block;
  border: solid rgb(131, 131, 131) 2px;
  padding: 3mm;
  border-radius: 6px;
  color:rgb(0, 0, 0);
  text-decoration: none;
  transition-duration: 150ms ;
  transition-property: color;
  transition-delay: 0ms ;
  transition-timing-function: ease ;

}

.Readit{
  background-color: rgb(255, 255, 255);
  display:inline-block;
  border: solid rgb(131, 131, 131) 2px;
  padding: 3mm;
  border-radius: 6px;
  color:rgb(0, 0, 0);
  text-decoration: none;
  transition-duration: 150ms ;
  transition-property: color;
  transition-delay: 0ms ;
  transition-timing-function: ease ;
  padding-left:40px;
  padding-right:40px;
  margin-left: 190px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

.mid{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}

.centered1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 60%);
  font-size: 30px;
}

.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -560%);
  font-size: 30px;
}

.centered3 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 20px;
}

.box3 ,.box4, .box5 { 
  background:rgb(222, 222, 222);
  margin:20px;
  height: 50vh;
  margin-top:30px;
}

.box1, .box2{
  background:rgb(222, 222, 222);
  margin:30px
}

.flex-container {

    border:0px solid #2e3f64;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin: auto ;
    align-items:center;
    justify-content:center;
}

.flex-container1 {

    border:0px solid #2e3f64;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin: auto ;
    align-items:center;
    justify-content:center;
    margin-bottom:80px;
}

.box1 {
    height: 540px;
    width: 555px;
    order:2;  
    font-size: 18px;
}
  
.box2 {
  height: 540px;
  width: 555px;
  order:2;
  font-size: 18px;
}
  
.box3 {

    order:1;
    font-size: 18px;
    width: 360px;

    margin-bottom: 30px;
    padding-bottom: 40px;
}
  
.box4 {
    order:1;
    font-size: 18px;
    width: 360px;
    margin-bottom: 30px;
    padding-bottom: 40px;
}
  
.box5 {
  order:1;
  font-size: 18px;
  width: 360px;
  margin-left: 27px;
  margin-bottom: 30px;
  padding-bottom: 40px;    
}

footer{
  text-align: center;
  margin-top: 30px;
  font-size:40px;
  margin-left:25px
}

p.fart{
  text-align: center;
  margin-bottom:100px
}

p.idontcare{
  text-align: center;
}

img{
    text-align: center;
}

.boxa, .boxb, .boxc ,.boxd, .boxe { background:rgb(222, 222, 222);
  margin:16px
}

.flex-con {

    border:0px solid #2e3f64;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin: auto ;
    align-items:center;
    justify-content:center;
    margin-top:80px
}

.flex-con1 {

  border:0px solid #2e3f64;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  margin: auto ;
  align-items:center;
  justify-content:center;
  margin-top:80px
}

.boxa {
    height: 540px;
    width: 260px;
    order:1;  
    font-size: 18px;
    margin: 10px;
    padding-bottom: 140px;
}
  
.boxb {
    height: 540px;
    width: 260px;
    order:1;  
    font-size: 18px;
    padding-bottom: 140px;
}
  
.boxc {
    height: 540px;
    width: 260px;
    order:1;  
    font-size: 18px;
    padding-bottom: 140px;
}
  
.boxd {
    height: 540px;
    width: 260px;
    order:1;  
    font-size: 18px;
    padding-bottom: 140px;
}
  
.boxe {
    margin-top:4px;
    order:2;
    font-size: 18px;
    width: 1140px;
    margin: 10px;
    margin-bottom: 30px;
    padding-bottom: 40px; 
}
.Contact {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 60%);
  font-size: 30px;
}

.form {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 15px;
}

textarea {
  width: 1000px;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0px solid #ffffff94;
  border-radius: 4px;
  background-color: #ffffff94;
  font-size: 16px;
  resize: none;
  border-radius: 5px;
}

.Send{
  background-color: rgb(26, 32, 41);
  display:inline-block;
  border: solid white 1px;
  padding: 3mm;
  border-radius: 10px;
  color:rgb(255, 255, 255);
  text-decoration: none;
  transition-duration: 150ms ;
  transition-property: color;
  transition-delay: 0ms ;
  transition-timing-function: ease ;
  padding-left:20px;
  padding-right:20px;
  margin-left: 200px;
  margin-top:100px;
}

@media screen and (min-width:50px) and (max-width: 615px){
  .flex-container1 {
    height: fit-content;
    img{
      width: 480px;
    }
  }

.flex-con1 {
    height: fit-content;
    img{
      width: 480px;
    }
  }

.box1,.box2{
    width: 480px;
  }

  .boxe{
    width: 480px;
  }
textarea{
  width:300px
}
}